body{
    background-color: rgb(195, 190, 190);
}
h1{
text-align: center;
margin-top:30vh;
   color: black;
   font-size: 30px;
}
h2{
    text-align: center;
    margin-top:1vh;
       color: black; 
}
.container{
    background-color: aliceblue;
    width:25vw;
    height: 20vh;
    border:1px solid black;
    margin-left: 37%;
    position: relative;
}
.box{
    width:400px;
    height: 20vh;
    text-align: center;
    margin-left: 10%;
    display: flex;
    gap: 5px;

}
.box input{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    width: 40px;
    height: 40px;
    align-items: center;
    margin-top: 50px;
    text-align: center;
   
    
}
button{
    margin-left:136px;
    margin-top: -40px;
    position: absolute;
    background-color: black;
    color: white;
    width: 100px;
    border-radius: 15px;
    height: 30px;
}